@using Project_CarRental.Utilities;
@model Project_CarRental.Models.Service

@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
	<div class="pagetitle">
		<h2>Xác nhận thêm dịch vụ</h2>
	</div>
	<div class="container shadow p-5">
		<div class="row pb-2">
			<h2>Thêm mới dịch vụ</h2>
		</div>
		<form asp-action="Create" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label asp-for="Title">Tiêu đề</label>
					<input type="text" class="form-control md-3" asp-for="Title" placeholder="Nhập tiêu đề">
				</div>
				<div class="form-group col-md-6">
					<label asp-for="Contents">Nội dung</label>
					<textarea asp-for="Contents" class="form-control" placeholder="Nhập nội dung"></textarea>
				</div>
				<div class="form-group mt-2 mb-3">
					<label>
						@Html.CheckBox("IsActive", false)
						Hiển thị
					</label>
				</div>
				<div class="form-group d-none">
					<input asp-for="MenuID" class="form-control" value="4" />
				</div>
			</div>
			<a asp-controller="Service" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
			<button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Lưu</button>
		</form>
	</div>
</main>

@{
	var summerNote = new Project_CarRental.Areas.Admin.Models.SummerNote("#Contents");
	<partial name="_SummerNote" model="summerNote" />
}