@using Project_CarRental.Utilities;
@model Project_CarRental.Models.Product

@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
	<div class="pagetitle">
		<h2>Xác nhận thêm xe</h2>
	</div>
	<div class="container shadow p-5">
		<div class="row pb-2">
			<h2>Thêm xe mới</h2>
		</div>
		<form asp-action="Create" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label asp-for="CarName">Tên xe</label>
					<input type="text" class="form-control md-3" asp-for="CarName" placeholder="Nhập tên xe">
				</div>
				<div class="form-group col-md-6">
					<label asp-for="MenuID">Chọn mục</label>
					<select asp-for="MenuID" class="form-control" asp-items="@(new SelectList(ViewBag.mnList, "Value", "Text"))"></select>
					<span asp-validation-for="MenuID" class="alert-danger"></span>
				</div>
				<div class="form-group mt-2 mb-3">
					<label>
						@Html.CheckBox("IsActive", false)
						Hiển thị
					</label>
				</div>
				<div class="form-group d-none">
					<input asp-for="Category" class="form-control" value="1" />
				</div>
			</div>
			<a asp-controller="Product" asp-action="Index" class="btn btn-lg btn-warning p-2">Quay lại</a>
			<button type="submit" class="btn btn-lg btn-primary p-2"><i class="bi bi-file-plus-fill"></i>Lưu</button>
		</form>
	</div>
</main>