<main id="main" class="main">

    <div class="pagetitle">
        <h1>Tổng quan</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <h1 style="color: red;">Chào mừng bạn đến với trang quản trị dịch vụ cho thuê xe ô tô</h1>
        </div>
    </section>

</main><!-- End #main -->